<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="manifest" href="/assets/site.webmanifest" />

    <link rel="icon" type="image/x-icon" href="/assets/icons/favicon.ico"/>
    <meta name="theme-color" content="#FFFFFF"/>

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/apple-touch-icon.png">
    
    <link rel="stylesheet" href="/assets/css/libs/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/page_styles/page_dashboard.css">
    <link rel="stylesheet" href="/assets/css/libs/sweetalert2.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

    <title>Remi Dashboard</title>
</head>
<body>

    <div id="loader">
      <div class="spinner"></div>
    </div>

    <div id="clock">
      <span id="span-clock">00:00</span>
    </div>

    <div id="left-menu-bar">
      <div id="logo-text">
        <img src="/assets/icons/android-chrome-192x192.png" alt="logo" id="logo"/>
        <span>Remi Flutter App</span>
      </div>
      <div id="menu-bar">
            <div class="menu-select-button selected" id="home-s">
              <span class="material-symbols-outlined">home</span>
              <span class="msb-span">Home</span>
            </div>
            <div class="menu-select-button" id="orders-s">
              <span class="material-symbols-outlined">list_alt</span>
              <span class="msb-span">Orders</span>
            </div>
            <div class="menu-select-button" id="gallery-s">
              <span class="material-symbols-outlined">gallery_thumbnail</span>
              <span class="msb-span">Gallery</span>
            </div>
            <div class="menu-select-button" id="comment-s">
              <span class="material-symbols-outlined">comment</span>
              <span class="msb-span">Comments</span>
            </div>
      </div>
    </div>

    <div class="content-canvas opened" id="home-page">
      <header>
          Home Page
      </header>
      <div id="main-settings">
        <input type="text" placeholder="Enter name for your service" id="hsi-name" class="ms-i"/>
        <input type="text" placeholder="Enter description for your service" id="hsi-description" class="ms-i"/>
        <input type="text" placeholder="Enter service address" id="hsi-address" class="ms-i"/>
        <label for="select-stype" id="hmst-lfst">Enter type of service</label>
        
        <select name="select-stype" id="hms-st">
          <option value="restaurant" id="sopt-restaurant">restaurant</option>
          <option value="coffee" id="sopt-coffee">coffee</option>
          <option value="pizzeria" id="sopt-pizzeria">pizzeria</option>
          <option value="bar" id="sopt-bar">bar</option>
        </select>

        <button id="hms-b-save" onclick="homeSave()">Save</button>
      </div>
      <div id="promocodes">
        <table id="promocode">
          <tr>
            <th>PROMOCODE</th>
            <th>DISCOUNT</th>
            <th>R</th>
          </tr>
        </table>
        <div id="createPromocode">Create Promocode</div>
      </div>
    </div>
    <div class="content-canvas" id="orders-page">
      <header>
        Orders Page
      </header>
      <div id="orders">
        <table id="orders-table">
          <tr>
            <th>CLIENT AVATAR</th>
            <th>CLIENT NAME</th>
            <th>COUNT OF TABLES</th>
            <th>PROMOCODE</th>
            <th>DECLINE / ACCEPT</th>
          </tr>
          <tr>
        </table>
      </div>
    </div>
    <div class="content-canvas" id="gallery-page">
      <header>
        Gallery Page
      </header>
      
    </div>
    <div class="content-canvas" id="comment-page">
      <header>
        Comments Page
      </header>
    </div>

    <script src="/assets/js/libs/jquery-3.6.3.min.js"></script>
    <script src="/assets/js/libs/sweetalert2.all.min.js"></script>
    <script src="/assets/js/libs/js.cookie.min.js"></script>
    <script src="/assets/js/home/app.load.js"></script>
    <!-- <script src="/resources/js/popper.min.js"></script> -->
    <script src="/assets/js/home/app.dashboard.js"></script>

    <script>

        window.addEventListener("load", function() {
          var loader = document.getElementById('loader');
          loader.style.display = 'none';
        });

    </script>
</body>
</html>