body, html {
    outline: none;
}

div#left-menu-bar {
    position: relative;
    height: 100vh;
    width: 287px;
    background-color: ghostwhite;
    top: 0;
    left: 0;
    -webkit-box-shadow: 11px 0px 17px 0px rgba(0,0,0,0.253); 
    box-shadow: 11px 0px 17px 0px rgba(0, 0, 0, 0.253);
    z-index: 100;
}

img#logo {
    width: 60px;
    border-radius: 10px;
}

#logo-text > span {
    font-family: Roboto-Medium;
}

div#logo-text {
    width: 200px;
    position: relative;
    top: 20px;
    left: calc(50% - 100px);
}

#menu-bar {
    position: relative;
    top: 53px;
    width: 240px;
    left: calc(50% - 120px);
}

.menu-select-button {
    margin-top: 10px;
    height: 55px;
    text-align: center;
    padding-top: 15px;
    border-radius: 11px;
    cursor: pointer;
    transition: 0.2s;
}

.menu-select-button > span {
    font-size: 1em;
}

.menu-select-button > .material-symbols-outlined {
    font-size: 20px;
    position: relative;
    top: 3px;
}

.msb-span {
    font-family: Roboto-Medium;
}


.selected {
    background-color: orange;
}

div.content-canvas {
    left: 287px;
    position: absolute;
    width: calc(100% - 287px);
    height: 100vh;
    top: 0;
    background-color: white;
    z-index: 8;
    overflow-y: scroll;
    overflow-x: hidden;
    visibility: hidden;
    display: none;
}

.opened {
    visibility: visible !important;
    display: block !important;
}

header {
    width: 90%;
    height: 400px;
    background-color: grey;
    left: 5%;
    position: relative;
    top: 50px;
    border-radius: 25px;
    font-size: 3em;
    color: white;
    font-family: Roboto-Bold;
    padding-left: 30px;
    padding-top: 20px;

    -webkit-box-shadow: 13px 10px 59px 0px rgba(184,184,184,1);
    -moz-box-shadow: 13px 10px 59px 0px rgba(184,184,184,1);
    box-shadow: 13px 10px 59px 0px rgba(184,184,184,1);

    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#home-page > header {
    background-image: url(/imgs/header/pexels-cátia-matos-1072179.jpg);
}

#orders-page > header {
    background-image: url(/imgs/header/pexels-emma-pollard-1534925.jpg);
}

#gallery-page > header {
    background-image: url(/imgs/header/pexels-irina-iriser-1408221.jpg);
}

#comment-page > header {
    background-image: url(/imgs/header/pexels-anthony-132474.jpg); 
}

.content-canvas::-webkit-scrollbar {
    width: 10px;
    background-color: white;
}

.content-canvas::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: orange;
}

div#main-settings {
    position: relative;
    top: 100px;
    left: 5%;
    width: 59%;
    background-color: white;
    height: 350px;
    padding: 15px;
    border-radius: 25px;

    -webkit-box-shadow: 13px 10px 59px 0px rgba(184,184,184,1);
    -moz-box-shadow: 13px 10px 59px 0px rgba(184,184,184,1);
    box-shadow: 13px 10px 59px 0px rgba(184,184,184,1);

}

/* I know that I can use flexbox in CSS for this result */
div#promocodes {
    position: absolute;
    left: 65%;
    background-color: white;
    width: 30%;
    height: 350px;
    top: 500px;
    border-radius: 25px;
    overflow-y: scroll;

    -webkit-box-shadow: 13px 10px 59px 0px rgba(184,184,184,1);
    -moz-box-shadow: 13px 10px 59px 0px rgba(184,184,184,1);
    box-shadow: 13px 10px 59px 0px rgba(184,184,184,1);
}

div#promocodes::-webkit-scrollbar {
    width: 20px;
    background-color: white;
}

div#promocodes::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: orange;
}

.ms-i {
    width: 100%;
    margin-top: 10px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid green;
    padding: 10px;
    color: green;
    font-family: Roboto-Regular;
}

.ms-i:focus {
    outline: none;
    opacity: 0.8;
}

select#hms-st {
    position: relative;
    top: 15px;
    left: 5px;
    font-family: Roboto-Regular;
    border: 1px solid green;
    border-radius: 10px;
    padding: 10px;
}
label#hmst-lfst {
    position: relative;
    top: 15px;
    font-family: Roboto-Regular;
    color: black;
}

#hms-b-save {
    position: absolute;
    bottom: 30px;
    left: calc(50% - 25%);
    width: 50%;
    height: 40px;
    border-radius: 25px;
    background-color: green;
    color: white;
    font-family: 'Roboto-Regular';
    border: 0;
    transition: 0.5s;
}

#hms-b-save:focus {
    outline: none;
}

#hms-b-save:hover {
    opacity: 0.8;
}

div#clock {
    position: fixed;
    z-index: 100;
    background-color: orange;
    width: 204px;
    height: 79px;
    right: 0px;
    top: 0;
    border-bottom-left-radius: 25px;
    text-align: center;
}

span#span-clock {
    color: white;
    position: relative;
    top: 15px;
    font-size: 30px;
    font-family: 'Roboto-Medium';
}


table#promocode {
    width: 90%;
    left: 5%;
    position: relative;
    top: 20px;
    text-align: center;
    border: 1px solid black;
}

table#promocode th {
    background-color: green;
    color: white;
    padding: 5px;
}


table#promocode td {
    border: 1px solid black;
    padding: 3px;
}

div#orders {
    width: 90%;
    height: 350px;
    background-color: white;
    left: 5%;
    position: relative;
    top: 100px;
    border-radius: 25px;

    -webkit-box-shadow: 13px 10px 59px 0px rgba(184,184,184,1);
    -moz-box-shadow: 13px 10px 59px 0px rgba(184,184,184,1);
    box-shadow: 13px 10px 59px 0px rgba(184,184,184,1);

    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow-y: scroll;
}

div#orders::-webkit-scrollbar {
    width: 20px;
    background-color: white;
}

div#orders::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: orange;
}

table#orders-table {
    width: 90%;
    left: 5%;
    position: relative;
    text-align: center;
    top: 20px;
}

table#orders-table th {
    background-color: aquamarine;
    padding: 5px;
}

table#orders-table tr {
    margin-top: 5px;
}

#loader {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background-color: #f3f3f3;
}
  
.spinner {
    border: 16px solid #f3f3f3;
    border-top: 16px solid orange;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}