/* Roboto */
@font-face { font-family: Roboto-Black; src: url(./Roboto/Roboto-Black.ttf); }
@font-face { font-family: Roboto-BlackItalic; src: url(./Roboto/Roboto-BlackItalic.ttf); }
@font-face { font-family: Roboto-Bold; src: url(./Roboto/Roboto-Bold.ttf); }
@font-face { font-family: Roboto-BoldItalic; src: url(./Roboto/Roboto-BoldItalic.ttf); }
@font-face { font-family: Roboto-Italic; src: url(./Roboto/Roboto-Italic.ttf); }
@font-face { font-family: Roboto-Light; src: url(./Roboto/Roboto-Light.ttf); }
@font-face { font-family: Roboto-LightItalic; src: url(./Roboto/Roboto-LightItalic.ttf); }
@font-face { font-family: Roboto-Medium; src: url(./Roboto/Roboto-Medium.ttf); }
@font-face { font-family: Roboto-MediumItalic; src: url(./Roboto/Roboto-MediumItalic.ttf); }
@font-face { font-family: Roboto-Regular; src: url(./Roboto/Roboto-Regular.ttf); }
@font-face { font-family: Roboto-Thin; src: url(./Roboto/Roboto-Thin.ttf); }
@font-face { font-family: Roboto-ThinItalic; src: url(./Roboto/Roboto-ThinItalic.ttf); }
/* IBM_Plex_Mono */
@font-face { font-family: IBMPlexMono-Bold; src: url(./IBM_Plex_Mono/IBMPlexMono-Bold.ttf); }
@font-face { font-family: IBMPlexMono-BoldItalic; src: url(./IBM_Plex_Mono/IBMPlexMono-BoldItalic.ttf); }
@font-face { font-family: IBMPlexMono-ExtraLight; src: url(./IBM_Plex_Mono/IBMPlexMono-ExtraLight.ttf); }
@font-face { font-family: IBMPlexMono-ExtraLightItalic; src: url(./IBM_Plex_Mono/IBMPlexMono-ExtraLightItalic.ttf); }
@font-face { font-family: IBMPlexMono-Italic; src: url(./IBM_Plex_Mono/IBMPlexMono-Italic.ttf); }
@font-face { font-family: IBMPlexMono-Light; src: url(./IBM_Plex_Mono/IBMPlexMono-Light.ttf); }
@font-face { font-family: IBMPlexMono-LightItalic; src: url(./IBM_Plex_Mono/IBMPlexMono-LightItalic.ttf); }
@font-face { font-family: IBMPlexMono-Medium; src: url(./IBM_Plex_Mono/IBMPlexMono-Medium.ttf); }
@font-face { font-family: IBMPlexMono-MediumItalic; src: url(./IBM_Plex_Mono/IBMPlexMono-MediumItalic.ttf); }
@font-face { font-family: IBMPlexMono-Regular; src: url(./IBM_Plex_Mono/IBMPlexMono-Regular.ttf); }
@font-face { font-family: IBMPlexMono-SemiBold; src: url(./IBM_Plex_Mono/IBMPlexMono-SemiBold.ttf); }
@font-face { font-family: IBMPlexMono-SemiBoldItalic; src: url(./IBM_Plex_Mono/IBMPlexMono-SemiBoldItalic.ttf); }
@font-face { font-family: IBMPlexMono-Thin; src: url(./IBM_Plex_Mono/IBMPlexMono-Thin.ttf); }
@font-face { font-family: IBMPlexMono-ThinItalic; src: url(./IBM_Plex_Mono/IBMPlexMono-ThinItalic.ttf); }
@font-face { font-family: OFL; src: url(./IBM_Plex_Mono/OFL.ttf); }
