@import url("/assets/fonts/font.linker.css");

body, html {
    outline: none;
}

.c_page {
    position: absolute;
    width: calc(100% - 4.5em);
    top: 0;
    height: 100%;
    right: 0;
}

#center_table_wrapper {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    height: 600px;
    top: calc(50% - 300px);
}

#add_image {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    background-color: rgb(243, 243, 243);
    border: 2px solid grey;
    text-align: center;
}